.section-homes {
    grid-column: center-start / center-end;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.home {
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 4rem;
    &__image {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1/2;
        z-index: 1;
    }
    &__like {
        fill: $color-primary;
        grid-column: 2/3;
        grid-row: 1/2;
        height: 2.8rem;
        width: 2.8rem;
        z-index: 2;
        justify-self: end;
        margin: 1rem;
    }
    &__name {
        grid-row: 1/2;
        z-index: 3;
        grid-column: 1 / -1;
        font-family: $font-display;
        padding: 1.25rem;
        background-color: $color-secondary;
        color: white;
        font-weight: 400;
        text-align: center;
        font-size: 1.8rem;
        width: 80%;
        justify-self: center;
        align-self: end;
        transform: translateY(50%);
    }
    &__location,
    &__rooms,
    &__area,
    &__price {
        font-size: 1.6rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        svg {
            fill: $color-secondary;
            height: 2.4rem;
            width: 2.4rem;
            margin-right: 1rem;
        }
    }
    &__button {
        grid-column: 1 / -1;
    }
    &__location,
    &__rooms {
        margin-top: 2.8rem;
    }
}